{% extends 'collect/base.html' %}
{% load static%}

{% block head %}
  <link rel="stylesheet" href="{% static 'collect/css/next_collection_form.css' %}">
{% endblock %}

{% block content %}
  {% if is_update_view %}
    <h1>Updating!</h1>
  {% else %}
    <h1>Creating!</h1>
  {% endif %}
  <section class="next-collection-form-box flex-container">
    <form class="" action="{% url 'collect:trasaction_booking' %}" method="post">{% csrf_token %}
      {% if form.non_field_errors %}
        <!-- html cho error chung cua form -->
        <div class="">
          {% for error in form.non_field_errors %}
            <div class="">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% for field in form %}
        <div class="next-collection-row">
          {{ field.label_tag }}
          {% if field.help_text %}
          {% endif %}
          {{ field }}
          {% for error in field.errors %}
            <div class="">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <input type="submit">
    </form>
  </section>
{% endblock %}
