{% extends 'collect/base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'collect/css/home.css' %}">
{% endblock %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <header class="flex-container">
        <nav>
            <span><a href="">Về chúng tôi</a></span>
            <span><a href="">Liên hệ</a></span>
        </nav>
    </header>
    {% if transaction_history.next_collection_json %}
      <section class="flex-container" id="next-collection">
          <div id="next-collection-chart">
              <h1>Next collection</h1>
              <div id="clockdiv">
                  <div>
                      <span class="days" id="day"></span>
                      <div class="smalltext">Days</div>
                  </div>
                  <div>
                      <span class="hours" id="hour"></span>
                      <div class="smalltext">Hours</div>
                  </div>
                  <div>
                      <span class="minutes" id="minute"></span>
                      <div class="smalltext">Minutes</div>
                  </div>
                  <div>
                      <span class="seconds" id="second"></span>
                      <div class="smalltext">Seconds</div>
                  </div>
              </div>
          </div>
      </section>
      <script type="text/javascript">
        var next_collection = {{ transaction_history.next_collection_json|safe }}
      </script>
      <script src="{% static 'collect/js/next_collection.js' %}"></script>
    {% else %}
      <section>
          <div class="next-collection-chart">
              <p class="nodata-instruct">Hãy đặt lịch hàng tuần để Things giúp bạn thu gom đồ tái chế</p>
              <a href="">
                  <div id="button-choose-date">
                    <p>Chọn ngày giờ <i class="arrow right"></i></p>
                  </div>
              </a>
          </div>
      </section>
    {% endif %}

    {% if transaction_history.by_type_json %}
      <h1>Have a by_type chart</h1>
      <script type="text/javascript">
        var by_type = {{ transaction_history.by_type_json|safe }}
      </script>
      <div id="by_type_chart" style="width: 700px; height: 300px;"></div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script src="{% static 'collect/js/by_type_chart.js' %}"></script>
    {% else %}
      <h1>Data for by_type chart are not available</h1>
    {% endif %}

    {% if transaction_history.by_month_json %}
      <h1>Have a by_month chart</h1>
      <script type="text/javascript">
        var by_month = {{ transaction_history.by_month_json|safe }}
      </script>
    <!-- div for by_month chart here -->
    <!-- script for by_month chart here -->
    {% else %}
      <h1>Data for by_month chart are not available</h1>
    {% endif %}
    <script type="text/javascript">
      var public_record_by_type = {{ public_record.by_type|safe }}
    </script>

    <a href="{% url 'accounts:logout' %}">Log out here!</a>
{% endblock %}
