<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header class="flex-container">
      <img id="logo" src="../Things html without django/images/Logo.png">
      <nav>
        <span><a href="">Về chúng tôi</a></span>
        <span><a href="">Liên hệ</a></span>
      </nav>
    </header>
    <section id="user-setting-frame">
        <div class="setting-box flex-container" id="user-setting">    
            <div id="setting-nav-bar">
                <div class="setting-switcher" id="person-switcher">
                    <p>Thông tin cá nhân</p>
                </div>
                <div class="setting-switcher" id="acc-switcher">
                    <p>Thông tin tài khoản</p>
                </div>    
            </div>
            <div class="inner-setting-box">
                <div class="setting-row">
                    <p>Họ và tên : Phạm Thị A</p>
                </div>
                <div class="setting-row">
                    <p>Tuổi : 20</p>
                </div>
                <div class="setting-row">
                    <p>Số điện thoại: 0903465763</p>
                </div>
                <div class="setting-row">
                    <p>Địa chỉ : Nhà 3B khu tập thể 361</p>
                </div>
            </div>
            <div class="inner-setting-box">
                <div class="setting-row">
                    <p>Gmail : things123@gmail.com</p>
                </div>
                <div class="setting-row">
                    <p>Mật khẩu : 123456789</p>
                </div>
                <div class="setting-row">
                    <p>Ngày Things nhận đồ tái chế :</p>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>