<html lang="vi">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <meta charshet="utf-8" />
  </head>
  <body>
    <header class="flex-container">
      <img id="logo" src="../Things html without django/images/Logo.png">
      <nav>
        <span><a href="">Về chúng tôi</a></span>
        <span><a href="">Liên hệ</a></span>
      </nav>
    </header>
    <section id="user-setting-frame">
        <div class="setting-box flex-container" id="user-setting">
            <div id="setting-nav-bar">
                <button class="setting-switcher" id="person-switcher" onclick="openSetting('person-setting-box', this)">Thông tin cá nhân</button>
                <button class="setting-switcher" id="acc-switcher" onclick="openSetting('acc-setting-box', this)">Thông tin tài khoản</button>
            </div>
            <div class="inner-setting-box" id="person-setting-box">
                <div class="setting-row">
                    <p>Họ và tên : Phạm Thị A</p>
                </div>
                <div class="setting-row">
                    <p>Tuổi : 20</p>
                </div>
                <div class="setting-row">
                    <p>Số điện thoại: 0903465763</p>
                </div>
                <div class="setting-row">
                    <p>Địa chỉ : Nhà 3B khu tập thể 361</p>
                </div>
            </div>
            <div class="inner-setting-box" id="acc-setting-box">
                <div class="setting-row">
                    <p>Gmail : things123@gmail.com</p>
                </div>
                <div class="setting-row">
                    <p>Mật khẩu : 123456789</p>
                </div>
                <div class="setting-row">
                    <p>Ngày Things nhận đồ tái chế :</p>
                </div>
            </div>
        </div>
    </section>
    <script>
        function openSetting(settingName, element) {
            var settingBoxes, switchers;
            settingBoxes = document.getElementsByClassName("inner-setting-box");
            for (i = 0; i < settingBoxes.length; i++) {
                settingBoxes[i].style.display = "none";
            }
            switchers = document.getElementsByClassName("setting-switcher");
            for (i = 0; i < switchers.length; i++) {
                switchers[i].style.backgroundColor = "";
            }
            document.getElementById(settingName).style.display = "block";
            element.style.backgroundColor = "blue"
        }
        var defaultOpen = document.getElementById("person-switcher")
        defaultOpen.click();
    </script>
  </body>
</html>
