body {
    font-family: monospace;
    font-size: 16px;
}

h1 {
    text-align: center;
}

#Sign_up_box {
    margin: 0 auto;
    display: flex;
    margin: 100px;
}

.validate {
    margin: 10px;
}