{% extends 'collect/base.html' %}
{% load static %}

{% block title %}Welcome to Things{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'collect/css/landing_page.css'%}">
{% endblock %}

{% block nav %}{% endblock %}

{% block header %}
<!-- Background image -->
<div class="p-5 text-center bg-image view"  id="call-to-action-img">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Things</h1>
          <h4 class="mb-3">Cùng xây dựng thói quen tái chế rác thải</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Đăng kí ngay!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
{% endblock %}

{% block content %}
  <section class="flex-container" id="instruct-box">
      <div class="instruct-row" id="instruct-signup">
          <img class="illustrate" id="signup-illustrate" src="">
          <div class="instruct-para" id="signup-para">
              <p>Bước 1:<br>Đăng kí địa chỉ, tên, email và số điện thoại</p>
          </div>
      </div>
      <div class="instruct-row" id="instruct-cf-address">
          <div class="instruct-para" id="cf-address-para">
              <p>Bước 2:<br>Xác nhận địa chỉ và thời gian trong mỗi tuần để Things đến lấy nguyên liệu tái chế cho bạn</p>
          </div>
          <img class="illustrate" id="cf-address-illustrate" src="">
      </div>
      <div class="instruct-row" id="instruct-follow-data">
          <img class="illustrate" id="follow-data-illustrate" src="">
          <div class="instruct-para" id="follow-data-para">
              <p>Bước 3:<br>Theo dõi quá trình tái chế của bạn, đồng thời nhận những phần thưởng thân thiện với môi trường từ chính số sản phẩm bạn đã tái chế</p>
          </div>
      </div>
  </section>
{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  </body>
</html>
