{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
{% endblock %}

{% block title %}Please sign up!{% endblock %}

{% block body %}
{{ super() }}
<h1 id='don_dang_ki'>Đăng kí!</h1>
<div id='Sign_up_box'>
  <form id="sign_up_form" method="POST" action="{{ url_for('signup', next=request.args.get('next')) }}">
    {{ form.hidden_tag() }}
    {{ form.username(class="validate-inside") }}
    {{ form.email(class="validate-inside") }}
    {{ form.address(class="validate-inside") }}
    {{ form.password(class="validate-inside") }}
    {{ form.confirm(class="validate-inside") }}
    <input id="submit" type="submit" value="Submit">
  </form>
</div>
{% endblock%}
