/* Styling About us sections */
.about-us-section {
    width: 821px;
    height: 226px;
    flex-direction: column;
}

#first-section {
    margin: 0px auto auto 139px;
    padding-top: 113px;
}

.blog {
    width: 821px;
    height: 193px;
    border-radius: 17px;
    border: 1px solid #6A6D75;
}

#first-blog{
    background-image: url("../images/about_us_1_image.png");
    background-repeat: no-repeat;
}

.blog > p {
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin: 28px auto auto 21px;
}

.more-info{
    width: 664px;
    height: 26px;
    margin-left: 9.5%;
    border: 1px solid #6A6D75;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    border-top: none;
    align-items: center;
    justify-content: center;
}

.more-info > div > p > span {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
