/* Styling About us sections */

    /* Styling 1st image section */
    .vision-layout {
        width: 100%;
        height: 246px;
    }
    
    .fst-img-layout {
        width: 100%;
        height: 639px;
        padding-top: 61px;
        background-image: url(../images/b2ad9ecd5dd475aff6f0d6bf2de29e171504c8fc_original.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
        /* Styling vision section */
    .vision-box{
        margin: 88px auto auto 142px;
        flex-direction: column;
    }
    
    .vision-box > p {
        margin : 0;
    }
    
    #vision-title {
        margin-bottom: 12px;
        color: #333333;
        font-weight: bold;
        font-size: 40px;
    }
    
    #vision-desc {
        line-height: 1.3;
        font-size: 15px;
    }
    
        /* Styling recycle section */
    .recycle-layout {
        width: 100%;
        height: 246px;
        justify-content: center;
    }
    
    .recycle-picture {
        width: 349px;
        height: 224;
        margin-right: 108px;
        background-image: url(../images/recycle-icon.jpg);
        background-size: cover;
        margin-left: 142px;
    }
    
    .recycle-content {
        width: 443px;
        height: 176px;
        margin-right: auto;
        flex-direction: column;
    }
    
    #recycle-title > p {
        font-size: bold;
        font-weight: 24px;
    }
