/* Styling user settings */

#user-setting-frame {
    width: 904px;
    height: 577px;
    margin: 0px auto auto 139px;
    padding-top: 113px;
}

.setting-box {
    width: 900px;
    height: 577px;
    display: flex;
    border: solid #6A6D75 2px;
    flex-direction: column;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

#setting-nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.setting-switcher {
    height: 72px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: solid #6A6D75 1px; */
    cursor: pointer;
}

.inner-setting-box {
    width: 904px;
    height: 506px;
    flex-direction: column;
    display: flex;
}

.setting-row {
    width: 822px;
    height: 65px;
    display: flex;
    margin: 15px auto 15px 40px;
    border: solid #6A6D75 1px;
    align-items: center;
}

.first-setting-row {
    margin-top: 40px;
}

.setting-row > p {
    margin: auto auto auto 43px;
    display: inline;
}

.change-info-button {
    display: flex;
    width: 306px;
    height: 75px;
    margin: auto 40px 15px auto;
    justify-content: flex-end;
    border: solid #6A6D75 1px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.change-info-button > p {
    display: inline;
}

.clicked {
    background-color: #a1a6b3;
    border-bottom: none;
}

.hidden-class {
    display: none;
}

/*Styling cho thay đổi thông tin trong user setting*/

#both-save-discard-box {
    width: 546px;
    height: 61px;
    margin: auto 38px 28px auto;
    justify-content: flex-end;
    align-items: center;
}

#save-change-button {
    width: 244px;
    height: 61px;
    margin-right: 58px;
    border: solid #6A6D75 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#discard-change-button {
    width: 244px;
    height: 61px;
    display: flex;
    border: solid #6A6D75 1px;
    justify-content: center;
    align-items: center;
}

.setting-row > label {
    margin: auto 15px auto 43px;
    display: inline;
}