{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'collect/css/password_change_form.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'collect/css/login_form_bootstrap4.css' %}">
    
    <title>Change Password</title>
  </head>
  <body>
    <!-- Login form -->
    <!-- outside container -->

    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Đăng nhập</h5>
              <form method="post" class="form-signin">{% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {% if form.non_field_errors %}
                <!-- html cho error chung cua form login -->
                <div class="form-row">
                {% for error in form.non_field_errors %}
                <div class="form-row-error">{{ error }}</div>
                {% endfor %}
                </div>
                {% endif %}

                <div class="form-label-group">
                  {{ form.username }}
                  <label for="{{ form.username.id_for_label }}">Địa chỉ Email</label>
                  {% for error in field.errors %}
                    <div class="form-row-error">{{ error }}</div>
                  {% endfor %}

                <div class="form-label-group">
                  {{ form.password }}
                  <label for="{{ form.password.id_for_label }}">Mật khẩu</label>
                  {% for error in field.errors %}
                    <div class="form-row-error">{{ error }}</div>
                  {% endfor %}
                </div>
  
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Lưu mật khẩu</label>
                </div>
                <button class="btn btn-lg btn-block text-uppercase login-btn" type="submit">Đăng nhập</button>
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Đăng nhập với google</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  </body>
</html>