{% extends 'accounts/base.html'%}

{% block title %}Login{% endblock %}

{% block detail_form %}
  <form class="form-detail" action="{% url 'login' %}" method="post" id="login-form">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <h2>LOGIN</h2>

    {% if form.non_field_errors %}
      <!-- html cho error chung cua form login -->
      <div class="form-row">
        {% for error in form.non_field_errors %}
          <div class="form-row-error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form %}
      <div class="form-row">
        {{ field.label_tag }}
        {% if field.help_text %}
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
          <div class="form-row-error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="form-row-last">
      <input type="submit" name="register" class="register" value="Login">
    </div>
  </form>
{% endblock %}

{% block form_left_last %}
  <form action="{% url 'register' %}" method="get">
    <input type="submit" name="account" class="account form-detail-switcher" id="register-switcher" value="Don't Have An Account">
  </form>
{% endblock %}

{% block body %}
{{ block.super }}
{% endblock %}
