<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/password_change_done.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>Change Password</title>
  </head>
  <body>
    <header class="flex-container">
        <img id="logo" src="./images/Logo.png">
        <nav>
          <span><a href="">Về chúng tôi</a></span>
          <span><a href="">Liên hệ</a></span>
        </nav>
        <div class="flex-container" id="user-icon">
          <img src="./images/user_icon.png">
        </div>
    </header>

    <div class="container">
        <div class="success-noti">
            <h2>Bạn đã thành công thay đổi mật khẩu</h2>
            <p>Bạn có thể quay lại trang chủ hoặc đăng nhập lại để lưu mật khẩu mới</p>
        </div>
        <button type="submit" class="btn btn-primary btn-return-home">Quay lại trang chủ</button>
        <button type="submit" class="btn btn-outline-primary">Đăng nhập lại</button>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  </body>
</html>