{% extends 'accounts/base.html'%}

{% block title %}Register{% endblock %}

{% block detail_form %}
  <form class="form-detail" action="{% url 'register' %}" method="post" id="register-form" data-switcherId="login-switcher">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <h2>REGISTER FORM</h2>

    {% if form.non_field_errors %}
      <!-- html cho error chung cua form -->
      <div class="form-row">
        {% for error in form.non_field_errors %}
          <div class="form-row-error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form %}
      <div class="form-row">
        {{ field.label_tag }}
        {% if field.help_text %}
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
          <div class="form-row-error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="form-checkbox">
      <label class="container"><p>I agree to the <a href="#" class="text">Terms and Conditions</a></p>
          <input type="checkbox" name="checkbox">
          <span class="checkmark"></span>
      </label>
    </div>
    <div class="form-row-last">
      <input type="submit" name="register" class="register" value="Register">
    </div>
  </form>
{% endblock %}

{% block form_left_last %}
  <form action="{% url 'login' %}" method="get">
    <input type="submit" name="account" class="account form-detail-switcher" id="login-switcher" value="Have An Account">
  </form>
{% endblock %}

{% block body %}
{{ block.super }}
{% endblock %}
