{% extends 'collect/base.html' %}
{% load static %}

{% block head %}{{ block.super }}
  <link rel="stylesheet" href="{% static 'collect/css/about_us.css' %}">
{% endblock %}

{% block title %}Lien He{% endblock %}

{% block content %}
<section class="fst-img-layout flex-container">
</section>

<section class="vision-layout flex-container">
  <div class="vision-box">
    <p id="vision-title">Cùng hành động vì môi trường</p>
    <p id="vision-desc">Cho một tương lai mà tất cả mọi người đều chung tay, góp sức bảo vệ môi trường. Bắt đầu từ phân loại rác, tái chế, tái sử dụng và dùng những vật liệu thân thiện với môi trường</p>
  </div>
</section>

<section class="recycle-layout flex-container">
  <div class="recycle-picture">
  </div>
  <div class="recycle-content flex-container">
    <div id="recycle-title">
      <p>Phân loại rác từ nguồn</p>
    </div>
    <div id="recycle-desc">
      <p>Việc phân loại rác thải từ nguồn đóng vai trò quan trọng trong công tác quản lý chất thải, góp phần giảm thiểu nguy cơ phát tán các tác nhân gây bệnh, các yếu tố độc hại, nguy hiểm. Chúng tôi hướn đến phân loại đúng, góp phần tiết kiệm tài nguyên, giảm chi phí cho công tác thu gom và xử lý rác thải, và giúp chính bạn có cuộc sống tuyệt vời hơn.</p> 
    </div>
  </div>
</section>
{{ block.super }}
{% endblock %}