{% extends 'collect/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'collect/css/next_collection_form.css' %}">
  <link rel="stylesheet" href="{% static 'collect/css/time_picker.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}

{% block content %}
  {% if is_update_view %}
    <h1>Updating!</h1>
  {% else %}
    <h1>Creating!</h1>
  {% endif %}
  <section class="next-collection-form-box">
    <form class="" action="{% url 'trasaction_booking' %}" method="post">{% csrf_token %}
      {% if form.non_field_errors %}
        <!-- html cho error chung cua form -->
        <div class="">
          {% for error in form.non_field_errors %}
            <div class="">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% for field in form %}
        <div class="next-collection-row">
          {{ field.label_tag }}
          {% if field.help_text %}
            <sup>{{ field.help_text }}</sup>
          {% endif %}
          {{ field }}
          {% for error in field.errors %}
            <div class="">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <div>
        <div class="next-collection-row">
          <h3>Chọn ngày trong tuần: </h3>
          <select id="ddl_collection">
            <option value="" selected disabled>-- Chọn ngày trong tuần --</option>
            <option value="1">Thứ 2</option> 
            <option value="2">Thứ 3</option> 
            <option value="3">Thứ 4</option> 
            <option value="4">Thứ 5</option> 
            <option value="5">Thứ 6</option> 
            <option value="6">Thứ 7</option> 
            <option value="7">Chủ nhật</option> 
          </select>
        </div>
        <div class="next-collection-row">
          <h3>Chọn thời gian: </h3>
          <input type="text" id="time-picker" class="form-control">
        </div>
      </div>
      <input type="submit">
    </form>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <script src="{% static 'collect/js/date_time_picker.js' %}"></script>
{% endblock %}
