{% extends 'collect/base.html' %}
{% load static %}

{% block head %}{{ block.super }}
  <link rel="stylesheet" href="{% static 'collect/css/contact.css' %}">
{% endblock %}

{% block title %}Lien He{% endblock %}

{% block content %}
<!-- HTML cho phần ảnh đầu trang Liên hệ -->
  <section class="top-section-position">
    <div class="top-section flex-container">
        <div class="search-box">
          <div class="search-label">
            <label for="search-bar">Liên hệ với chúng tôi về khó khăn của bạn</label>
          </div>
          <br>
          <input type="text" id="search-bar" placeholder="Mô tả vấn đề bạn gặp">
          <div class="search-button flex-container">
            <p>Tìm kiếm</p>
          </div>
        </div>
    </div>
  </section>
{{ block.super }}
{% endblock %}
    