{% extends 'collect/base.html' %}
{% load static %}

{% block title %}Trang người dùng{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'collect/css/user_settings.css' %}">
{% endblock %}

{% block content %}
    <section id="user-setting-frame">
        <div class="setting-box flex-container" id="user-setting">
            
            <!-- Đoạn html cho phần navigate giữa thông tin cá nhân và thông tin tài khoản -->
            <div id="setting-nav-bar">
                <button class="setting-switcher" id="person-switcher" onclick="openSetting('person-setting-box', this)">Thông tin cá nhân</button>
                <button class="setting-switcher" id="acc-switcher" onclick="openSetting('acc-setting-box', this)">Thông tin tài khoản</button>
            </div>
            
            <!-- Đoạn html cho phần thông tin cá nhân -->
            <div class="inner-setting-box flex-container" id="person-setting-box">
                <div class="setting-row first-setting-row">
                    <p>Họ và tên : Phạm Thị A</p>
                </div>
                <div class="setting-row">
                    <p>Ngày sinh : 20/10/1999</p>
                </div>
                <div class="setting-row">
                    <p>Số điện thoại: 0903465763</p>
                </div>
                <div class="setting-row">
                    <p>Địa chỉ : Nhà 3B khu tập thể 361</p>
                </div>
                <div class="change-info-button" id="change-person-info-button">
                    <p>Thay đổi thông tin</p>
                </div>
            </div>
            
            <!-- Đoạn HTML cho phần xửa đổi thông tin cá nhân -->
            <div class="inner-setting-box flex-container" id="person-setting-form">
                <div class="setting-row first-setting-row">
                    <label for="first-name-input"> Họ và tên : </label><br>
                    <input type="text" id="first-name-input" name="first-name-input" value="Phạm Thị A">
                </div>
                <div class="setting-row">
                    <label for="birth-day-input"> Ngày sinh : </label><br>
                    <input type="text" id="birth-day-input" name="birth-day-input" value="20/10/1999">
                </div>
                <div class="setting-row">
                    <label for="phone-input"> Số điện thoại : </label><br>
                    <input type="text" id="phone-input" name="phone-input" value="0903465763">
                </div>
                <div class="setting-row">
                    <label for="birth-day-input"> Địa chỉ : </label><br>
                    <input type="text" id="address-input" name="address-input" value="Nhà 3B khu tập thể 361">
                </div>
                <div class="flex-container" id="both-save-discard-box">
                    <div id="save-change-button">    
                        <p>Lưu</p>
                    </div>
                    <div id="discard-change-button">
                        <p>Hủy</p>
                    </div>
                </div>
            </div>
            
            <!-- đoạn HTML cho phần thông tin tài khoản -->
            <div class="inner-setting-box flex-container" id="acc-setting-box">
                <div class="setting-row first-setting-row">
                    <p>Gmail : things123@gmail.com</p>
                </div>
                <div class="setting-row">
                    <p>Mật khẩu : 123456789</p>
                </div>
                <div class="setting-row">
                    <p>Ngày Things nhận đồ tái chế :</p>
                </div>
                <div class="change-info-button" id="change-acc-info-button">
                    <p>Thay đổi thông tin</p>
                </div>
            </div>
            
            <!-- Đoạn HTML cho phần xửa đổi thông tin tài khoản -->
            <div class="inner-setting-box flex-container" id="acc-setting-form">
                <div class="setting-row first-setting-row">
                    <label for="gmail-input"> Gmail : </label><br>
                    <input type="text" id="gmail-input" name="gmail-input" value="things123@gmail.com">
                </div>
                <div class="setting-row">
                    <label for="password-input"> Mật khẩu : </label><br>
                    <input type="text" id="password-input" name="password-input" value="123456789">
                </div>
                <div class="setting-row">
                    <label for="recycle-date-input"> Ngày Things nhận đồ tái chế : </label><br>
                    <input type="text" id="recycle-date-input" name="recycle-date-input" value="">
                </div>
                <div class="flex-container" id="both-save-discard-box">
                    <div id="save-change-button">    
                        <p>Lưu</p>
                    </div>
                    <div id="discard-change-button">
                        <p>Hủy</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'collect/js/user_settings.js' %}"></script>
{% endblock %}