{% extends 'collect/base.html' %}
{% load static %}

{% block head %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'collect/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'collect/css/next_collection.css' %}">
{% endblock %}

{% block title %}Things{% endblock %}

{% block nav %}
  <span>{{ user.full_name }}</span>
{% endblock %}

{% block content %}
    {% include 'collect/widgets/next_collection.html' with next_collection_json=user_next_collection %}
    {% include 'collect/widgets/user_data.html' with user_data=user_data %}
    {% include 'collect/widgets/public_data.html' with public_data=public_data %}
    {{ block.super }}
{% endblock %}
