{% extends 'collect/base.html' %}
{% load static %}

{% block head %}{{ block.super }}
  <link rel="stylesheet" href="{% static 'collect/css/Ve_chung_toi.css' %}">
{% endblock %}

{% block title %}Lien He{% endblock %}

{% block content %}
    <!-- section #1  -->
    <section class="about-us-section flex-container" id="first-section">
        <div class="blog" id="first-blog">
            <p>Rác thải sẽ được tái chế ra sao ?</p>
        </div>
        <div class="more-info flex-container">
          <div><p>Tìm hiểu thêm<span> > </span></p></div>
        </div>
    </section>
{{ block.super }}
{% endblock %}