body {
    font-family: monospace;
    font-size: 16px;
    background-color: aqua;
}

#don_dang_ki {
    font-size: 45px;
}

#Sign_up_box {
    margin: 0 auto;
    display: flex;
    margin: 100px;
}

.validate {
    margin: 10px;
}