/* universal styling */

html {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0px;
}

.flex-container {
    display: flex;
}

/* styling header */

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 60px;
    border-bottom: 1px solid #6A6D75;
    background-color: white;
}

#logo {
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    margin-left: 45px;
}

nav {
    display: flex;
    align-items: center;
}

nav span {
    display: inline-block;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 13px;
}

nav span a {
    color: #6A6D75;
    text-decoration: none;
}

nav span a:active {
    color: inherit;
}

/* styling next collection */

#next-collection {
    position: relative;
    height: 200px;
    width: 904px;
    margin: 0px auto auto 142px;
    padding-top: 122px;
}

.next-collection-chart {
    height: 200px;
    width: 904px;
    border: solid 1px black;
}

#next-collection > h1{
    color: #6A6D75;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
#clockdiv{
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
}
#clockdiv > div{
      padding: 10px;
      border-radius: 3px;
      background: #00BF96;
      display: inline-block;
}
#clockdiv div > span{
      padding: 15px;
      border-radius: 3px;
      background: #00816A;
      display: inline-block;
}
.smalltext{
      padding-top: 5px;
      font-size: 16px;
}

/* styling chart */

.homepage-chart-box {
    width: 440px;
    height: 234px;
    border: solid #6A6D75;
}

#donut-box {
    margin-right: 10px;
}

#line-box {
    margin-left: 10px;
}

#chart-box {
    width: 900px;
    height: 239px;
    margin-top: 28px;
    margin-left: 139px;
}

.homepage-chart {
    width: 200px;
    height: 150px;
}

/* styling no data next collection */

.next-collection-chart a {
    text-decoration: none;
}

#button-choose-date {
    width: 277px;
    height: 60px;
    display: inline-flex;
    border: solid #6A6D75;
    align-items: center;
    justify-content: center;
}

#button-choose-date > p {
    text-decoration: none;
    color: #6A6D75;
}

#button-choose-date > p:active {
    color: inherit;
}

.arrow {
  border: solid #6A6D75;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* styling no data chart */

.nodata-instruct-div {
    border: solid #6A6D75;
    float: right ;
    overflow: hidden;
    width: 157px;
    height: 70px;
    text-align: center;
    justify-content: left;
}

#donut-chart {
    display: inline-block;
    border: solid springgreen 2px;
    padding: 60px auto auto 40px;
}
