{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_landing_page.css') }}" type="text/css">
{% endblock %}

{% block title %}
{{ super() }}
Welcome to Green Hanoi
{% endblock %}

{% block body %}
{{ super() }}
<header class="flex-container">
        <img id="logo" src="{{ url_for('static', filename='images/Logo.png') }}">
        <nav>
            <span><a href="">Cách hoạt động</a></span>
            <span><a href="">Điểm thưởng</a></span>
        </nav>
        <div id="signup-login">
            <a href="{{ url_for('login') }}">Đăng nhập</a>
            <form action="{{ url_for('signup') }}" method="get">
              <button id="signup-button" type="submit">Đăng kí</button>
            </form>
            <!-- <input id="signup-button" type="submit" value="Đăng kí"> -->
        </div>
</header>
<div id="Gioi_thieu">
    <img src="{{ url_for('static', filename='images/landingpage_first_sessions.jpg') }}">
</div>
{% endblock %}
