{% extends 'base.html' %}

{% block head %}
{{ super() }}

{% endblock %}

{% block title %}Please sign up!{% endblock %}

{% block body %}
{{ super() }}
<h1 id='don_dang_ki'>Đơn đăng kí!</h1>
<div id='Sign_up_box'>
  <form method="POST" action="{{ url_for('signup') }}">
    {{ form.csrf_token }}
    {{ form.username.label(class_='validate') }}
    {{ form.username(class_='validate') }}
    {{ form.email.label(class_='validate') }}
    {{ form.email(class_='validate') }}
    {{ form.address.label(class_='validate') }}
    {{ form.address(class_='validate') }}
    {{ form.password.label(class_='validate') }}
    {{ form.password(class_='validate') }}
    {{ form.confirm.label(class_='validate') }}
    {{ form.confirm(class_='validate') }}
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock%}
