body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
    padding: 4px;
}

#don_dang_ki {
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

form {
    border: forestgreen solid 2px;
    padding: 10px;
}

#Sign_up_box {
    display: flex;
    margin: 40px;
    justify-content: center;
}

.validate-inside {
    display: block;
    padding: 7px;
    font-size: 14px;
    margin: 10px;
    width: 75%;
    border: none;
    border-bottom: 1px solid #AAA;
    transition: 0.2s ease;
}

.validate-inside:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

#submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 50px;
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 25px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
